.damper-spring-headers {
  font-size: 15px;
}
.oil-bath-cells {
  font-size: 14px;
}

.oil-bath-table-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.oil-bath-table {
  margin: auto;
}

