.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: black;

}

.welcome-message {
  padding: .5rem;
  margin: 1rem;
  color: white;
  border: 0.5px solid whitesmoke;
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
}

.search-container {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  background-color: black;
  border: 0.5px solid whitesmoke;
  border-radius: 10px;
}

.search-btn-container {
  padding: 0 0.25rem;
  font-family: 'Ubuntu', sans-serif;
}

.fork-search-form {
  padding: 0rem 1rem;
  background-color: black;
  color: white;
}



.featured-forks-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.featured-rockshox-fork {
  margin: .5rem 0rem;
}

.featured-fox-fork {
  margin: .5rem 0rem;
}

.featured-marzocchi-fork {
  margin: .5rem 0rem;
}