.contact-container {
  background-color: black;
  color: white;
}

.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #b87333;
  border-radius: 10px;
}

.contact-header-text {
  padding: 1rem 0rem 0rem 0rem
}