.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #959D8A;
  color: black;
  height: 44px;
  padding: 1rem;
  width: 100vw;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.home-btn {
  font-size: 1rem;
  text-decoration: none;
    color: white;
}